<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teste"
        tools:targetApi="31">
        <activity
            android:name=".Galeria11Act"
            android:exported="false" />
        <activity
            android:name=".Galeria10Act"
            android:exported="false" />
        <activity
            android:name=".Galeria9Act"
            android:exported="false" />
        <activity
            android:name=".Galeria8Act"
            android:exported="false" />
        <activity
            android:name=".Galeria7Act"
            android:exported="false" />
        <activity
            android:name=".Galeria6Act"
            android:exported="false" />
        <activity
            android:name=".Galeria5Act"
            android:exported="false" />
        <activity
            android:name=".Galeria4Act"
            android:exported="false" />
        <activity
            android:name=".Galeria3Act"
            android:exported="false" />
        <activity
            android:name=".Galeria2Act"
            android:exported="false" />
        <activity
            android:name=".Galeria1Act"
            android:exported="false" />
        <activity
            android:name=".GaleriaMenuAct"
            android:exported="false" />
        <activity
            android:name=".Note7Act"
            android:exported="false" />
        <activity
            android:name=".Note6Act"
            android:exported="false" />
        <activity
            android:name=".Note5Act"
            android:exported="false" />
        <activity
            android:name=".Note4Act"
            android:exported="false" />
        <activity
            android:name=".Note3Act"
            android:exported="false" />
        <activity
            android:name=".Note2Act"
            android:exported="false" />
        <activity
            android:name=".Note1Act"
            android:exported="false" />
        <activity
            android:name=".NoteMenuAct"
            android:exported="false" />
        <activity
            android:name=".Email7Act"
            android:exported="false" />
        <activity
            android:name=".Email2Act"
            android:exported="false" />
        <activity
            android:name=".Email6Act"
            android:exported="false" />
        <activity
            android:name=".Email5Act"
            android:exported="false" />
        <activity
            android:name=".Email4Act"
            android:exported="false" />
        <activity
            android:name=".Email3Act"
            android:exported="false" />
        <activity
            android:name=".Email8Act"
            android:exported="false" />
        <activity
            android:name=".Email1Act"
            android:exported="false" />
        <activity
            android:name=".CalculatorAct"
            android:exported="false" />
        <activity
            android:name=".Msg7Act"
            android:exported="false" />
        <activity
            android:name=".Msg6Act"
            android:exported="false" />
        <activity
            android:name=".Msg5Act"
            android:exported="false" />
        <activity
            android:name=".Msg4Act"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Msg3Act"
            android:exported="false" />
        <activity
            android:name=".Msg2Act"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Msg1Act"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmailAct"
            android:exported="false" />
        <activity
            android:name=".NavegadorAct"
            android:exported="false" />
        <activity
            android:name=".SnapMenuAct"
            android:exported="false" />
        <activity
            android:name=".MenuAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>